In [ ]:
# 1. Угадай число
import random
magic_num = random.randint(0, 100)
user_num = int(input('Напишите любое число: '))
if user_num == magic_num:
  print('Поздравляю! Вы угадали!')
else:
  print('А вот и нет! Это число: ', magic_num)

Напишите любое число: 7
А вот и нет! Это число:  21

In [4]:
# 2. Приветствие
name = str(input('Напишите свое имя: '))
print('Привет, ' + name + '!')

Напишите свое имя: Анна
Привет, Анна!

In [9]:
# 3. Конвертер температур
t = float(input('Введите температуру в градусах Цельсия: '))
f = (t * 9/5) + 32
print(f'Температура (Цельсия): {t}\nТемпература (Фаренгейт): {f}')

Введите температуру в градусах Цельсия: 12.6
Температура (Цельсия): 12.6
Температура (Фаренгейт): 54.68

In [11]:
# 4. Округление и вывод с помощью новой строки
## вариант 1
c = int(t)
ph = int(f)
print(f'Температура (Цельсия): {c}\nТемпература (Фаренгейт): {ph}')

Температура (Цельсия): 12
Температура (Фаренгейт): 54

In [12]:
## вариант 2
a = round(t, 0)
b = round(f, 0)
print (f'Температура (Цельсия): {a}\nТемпература (Фаренгейт): {b}')

Температура (Цельсия): 13.0
Температура (Фаренгейт): 55.0

In [16]:
# 5. Конвертирование типов данных
a1 = str(a)
b1 = str(b)
print(type(a), type(b))
print(type(a1), type(b1))

<class 'float'> <class 'float'>
<class 'str'> <class 'str'>

In [22]:
print('Температура (Цельсия) ' + a1 + '\nТемпература (Фаренгейт) ' + b1)

Температура (Цельсия) 13.0
Температура (Фаренгейт) 55.0

In [28]:
# 6. Калькулятор
n1 = int(input('Введите первое число: ')) # я пыталась сделать ввод двух чисел в одной строке, но так и не получилось:(
n2 = int(input('Введите второе число: '))
print('Результат сложения: ' + str(n1 + n2) +
      '\nРезультат вычитания: ' + str(n1 - n2),
      '\nРезультат умножения: ' + str(n1 * n2) +
      '\nРезультат возведения во вторую степень первого числа: ' + str(n1 ** 2) +
      '\nРезультат возведения во вторую степень второго числа: ' + str(n2 ** 2))

Введите первое число: 5
Введите второе число: 6
Результат сложения: 11
Результат вычитания: -1
Результат умножения: 30
Результат возведения во вторую степень первого числа: 25
Результат возведения во вторую степень второго числа: 36

In [30]:
# 7. Анкета
name, age, occupation = str(input('Введите ваши данные: ')).split()
print(f'Ваше имя  {name} \nВаш возраст  {age} \nВаша должность  {occupation}')

Введите ваши данные: Анна 22 учитель
Ваше имя  Анна
Ваш возраст  22
Ваша должность  учитель

In [33]:
# 8. Поменять местами переменные
w1, w2 = str(input('Введите название двух фруктов: ')).split()
print('В первой переменной хранится ' + w1 +
      '\nВо второй переменной хранится ' + w2 +
      '\nМеняем местами...')
w1, w2 = w2, w1
print('В первой переменной хранится ' + w1 +
      '\nВо второй переменной хранится ' + w2)

Введите название двух фруктов: яблоко банан
В первой переменной хранится яблоко
Во второй переменной хранится банан
Меняем местами...
В первой переменной хранится банан
Во второй переменной хранится яблоко

In [39]:
# 9. Дописать функцию
def sum_and_product(a, b):
  total_sum = a + b
  product = a * b
  return total_sum, product
result_sum, result_product = sum_and_product(13, 55)
print('Суммма: ' + str(result_sum) +
      '\nПроизведение: ' + str(result_product))

Суммма: 68
Произведение: 715

In [45]:
# 10. Строка и число
n1, n2 = str(input('Введите два числа: ')).split()
print(f'Результат сложения: {n1 + n2} \nРезультат сложения: {int(n1) + int(n2)}')

Введите два числа: 4 6
Результат сложения: 46
Результат сложения: 10